body{
    background-color:#ffdd99;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}

a{
    color: white;
}

h1{
    color: #661400;
    text-transform: uppercase;
    text-align: center;
}

h2{
    color: #b34700;
    font-variant: small-caps;
}

.last_section{
    background-color: #661400;
    color:white;
}

.first:first-letter{
    text-transform: capitalize;
    font-size: 50px;
}

.acro{
    text-transform: uppercase;
}

.svg{
    list-style: url(check.svg);
}

.svg_white{
    list-style: url(check-white.svg);
}

.ang{
    font-style: italic;
}